In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
df = pd.read_csv("data/space_corrected_cleaned.csv")
df.columns

Index(['Unnamed: 0', 'Company Name', 'Datum', 'Status Rocket',
       'Costs (Mio. USD)', 'Status Mission', 'Site', 'Country', 'Rocket',
       'Satellite'],
      dtype='object')

In [26]:
df['Company Name'].value_counts()

#df['Costs (Mio. USD)'].value_counts()

RVSN USSR           1777
Arianespace          279
General Dynamics     251
CASC                 251
NASA                 203
VKS RF               201
US Air Force         161
ULA                  140
Boeing               136
Martin Marietta      114
SpaceX               100
MHI                   84
Northrop              83
Lockheed              79
ISRO                  76
Roscosmos             55
ILS                   46
Sea Launch            36
ISAS                  30
Kosmotras             22
US Navy               17
Rocket Lab            13
Eurockot              13
ESA                   13
ISA                   13
Blue Origin           12
IAI                   11
ExPace                10
ASI                    9
CNES                   8
AMBA                   8
JAXA                   7
MITT                   7
Land Launch            7
CASIC                  5
UT                     5
KCST                   5
Arm??e de l'Air        4
Exos                   4
CECLES                 4
AEB                    3
SRC                    3
KARI                   3
OKB-586                2
RAE                    2
Yuzhmash               2
IRGC                   1
Landspace              1
i-Space                1
OneSpace               1
Khrunichev             1
Starsem                1
EER                    1
Virgin Orbit           1
Sandia                 1
Douglas                1
Name: Company Name, dtype: int64

In [27]:
df['Country'].value_counts()

[' Russia']                            1395
[' USA']                               1344
[' Kazakhstan']                         701
[' France']                             303
[' China']                              268
[' Japan']                              126
[' India']                               76
[' Pacific Ocean']                       36
[' Iran']                                13
[' New Zealand']                         13
[' Israel']                              11
[' Kenya']                                9
[' Australia']                            6
[' North Korea']                          5
[' New Mexico']                           4
[' Barents Sea']                          3
[' Brazil']                               3
[' South Korea']                          3
[' Gran Canaria']                         2
[' Shahrud Missile Test Site']            1
[' Yellow Sea']                           1
[' Pacific Missile Range Facility']       1
Name: Country, dtype: int64