In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv("data/space_corrected_cleaned.csv")
df.columns

,Unnamed: 0,Company Name,Datum,Status Rocket,Costs (Mio. USD),Status Mission,Site,Country,Rocket,Satellite
0,0,SpaceX,"Fri Aug 07, 2020 05:12 UTC",StatusActive,50.0,Success,"['LC-39A, Kennedy Space Center, Florida']",[' USA'],['Falcon 9 Block 5'],['Starlink V1 L9 & BlackSky']
1,1,CASC,"Thu Aug 06, 2020 04:01 UTC",StatusActive,29.75,Success,"['Site 9401 (SLS-2), Jiuquan Satellite Launch ...",[' China'],['Long March 2D'],['Gaofen-9 04 & Q-SAT']
2,2,SpaceX,"Tue Aug 04, 2020 23:57 UTC",StatusActive,NaN,Success,"['Pad A, Boca Chica, Texas']",[' USA'],['Starship Prototype'],['150 Meter Hop']
3,3,Roscosmos,"Thu Jul 30, 2020 21:25 UTC",StatusActive,65.0,Success,"['Site 200/39, Baikonur Cosmodrome']",[' Kazakhstan'],['Proton-M/Briz-M'],['Ekspress-80 & Ekspress-103']
4,4,ULA,"Thu Jul 30, 2020 11:50 UTC",StatusActive,145.0,Success,"['SLC-41, Cape Canaveral AFS, Florida']",[' USA'],['Atlas V 541'],['Perseverance']
...,...,...,...,...,...,...,...,...,...,...
4319,4319,US Navy,"Wed Feb 05, 1958 07:33 UTC",StatusRetired,NaN,Failure,"['LC-18A, Cape Canaveral AFS, Florida']",[' USA'],['Vanguard'],['Vanguard TV3BU']
4320,4320,AMBA,"Sat Feb 01, 1958 03:48 UTC",StatusRetired,NaN,Success,"['LC-26A, Cape Canaveral AFS, Florida']",[' USA'],['Juno I'],['Explorer 1']
4321,4321,US Navy,"Fri Dec 06, 1957 16:44 UTC",StatusRetired,NaN,Failure,"['LC-18A, Cape Canaveral AFS, Florida']",[' USA'],['Vanguard'],['Vanguard TV3']
4322,4322,RVSN USSR,"Sun Nov 03, 1957 02:30 UTC",StatusRetired,NaN,Success,"['Site 1/5, Baikonur Cosmodrome']",[' Kazakhstan'],['Sputnik 8K71PS'],['Sputnik-2']
4323,4323,RVSN USSR,"Fri Oct 04, 1957 19:28 UTC",StatusRetired,NaN,Success,"['Site 1/5, Baikonur Cosmodrome']",[' Kazakhstan'],['Sputnik 8K71PS'],['Sputnik-1']