In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
import seaborn as sns

In [25]:
df = pd.read_csv("data/space_corrected_cleaned.csv")
df.head()

,Unnamed: 0,Company Name,Datum,Status Rocket,Costs,Status Mission,Site,Country,Rocket,Satellite
0,0,SpaceX,"Fri Aug 07, 2020 05:12 UTC",StatusActive,50.0,Success,"['LC-39A, Kennedy Space Center, Florida']",['USA'],['Falcon 9 Block 5'],['Starlink V1 L9 & BlackSky']
1,1,CASC,"Thu Aug 06, 2020 04:01 UTC",StatusActive,29.75,Success,"['Site 9401 (SLS-2), Jiuquan Satellite Launch ...",['China'],['Long March 2D'],['Gaofen-9 04 & Q-SAT']
2,2,SpaceX,"Tue Aug 04, 2020 23:57 UTC",StatusActive,NaN,Success,"['Pad A, Boca Chica, Texas']",['USA'],['Starship Prototype'],['150 Meter Hop']
3,3,Roscosmos,"Thu Jul 30, 2020 21:25 UTC",StatusActive,65.0,Success,"['Site 200/39, Baikonur Cosmodrome']",['Kazakhstan'],['Proton-M/Briz-M'],['Ekspress-80 & Ekspress-103']
4,4,ULA,"Thu Jul 30, 2020 11:50 UTC",StatusActive,145.0,Success,"['SLC-41, Cape Canaveral AFS, Florida']",['USA'],['Atlas V 541'],['Perseverance']

Index(['Unnamed: 0', 'Company Name', 'Datum', 'Status Rocket', 'Costs',
       'Status Mission', 'Site', 'Country', 'Rocket', 'Satellite'],
      dtype='object')

In [32]:
# count total missions per company
company_missions = df['Company Name'].value_counts

<bound method IndexOpsMixin.value_counts of 0          SpaceX
1            CASC
2          SpaceX
3       Roscosmos
4             ULA
          ...
4319      US Navy
4320         AMBA
4321      US Navy
4322    RVSN USSR
4323    RVSN USSR
Name: Company Name, Length: 4324, dtype: object>

In [52]:
df["Jahr"] = df["Datum"].apply(lambda x: x[-15:-10])
#df["Jahr"].iplot(kind="scatter",theme="solar",mode="markers")

#sns.lmplot(df["Costs"], df["Jahr"], data=df, fit_reg=False)

TypeError: '<' not supported between instances of 'float' and 'str'